* {
    box-sizing: border-box;
}

legend {
    font-size: 20px;
}

input {
    background-color: black;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}

.border:focus {
    box-shadow: 0 0 10px orange;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: black;
    font-family: Oswald, sans-serif;
    color: white;
}

img {
    height: auto;
    width: 500px;
    display: block;
}

.image {
    position: relative;
    display: inline-block;
}

.logo-banner {
    position: absolute;
    top: 40%;
    left: 0%;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: black;
    width: 100%;
    height: 120px;
    opacity: 80%;
}

.credits {
    position: absolute;
    left: 25%;
    bottom: 0;
    color: white;
}

a {
    text-decoration: none;
}

.title {
    font-family: "Indie Flower", sans-serif;
    font-size: 70px;
    position: absolute;
    top: 34%;
    left: 27%;
    color: white;   
}

form {
    margin-top: 40px;
    margin-bottom: 40px;
    display: inline-block;
}

.container {
    display: flex;
    flex-direction: column;
}

.text {
    color: white;
}

input[type=submit] {
    background-color: black;
    color: orangered;
    border: 2px solid orangered;
    border-radius: 8px;
    display: block;
    font-size: 20px;
    padding: 10px;
}

.name, .info, .password {
    display: flex;
    margin-bottom: 15px;
    gap: 20px;
}

label {
    font-size: 12px;
}

section {
    margin: 40px 0 0 40px;
}

.intro {
    font-size: 24px;
}

a:link, a:active, a:visited {
    color: orangered;
}

fieldset {
    border: 2px solid orangered;
}